.plan-list {
    max-height: 400px; /* 设置您希望的最大高度 */
    overflow-y: auto; /* 当内容溢出时显示垂直滚动条 */
}
.text-container {
    max-width: 200px;  /* 或其他合适的宽度 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.go-button-container {
    margin-left: auto;
}

/* 默认样式 */
.like-button {
    cursor: pointer; /* 鼠标变成手指 */
}

/* 鼠标悬停时的样式 */
.like-button:hover {
    background-color: lightgray; /* 悬停时的背景色 */
    border-radius: 4px; /* 可选：添加圆角边框 */
}

/* 鼠标悬停时的文本样式 */
.like-button:hover::after {
    content: "like"; /* 显示 "like" 文本 */
    margin-left: 4px; /* 文本距离按钮的间距 */
}
